@import 'bootstrap';



a {
    text-decoration: none;
    color: white;
 
}


.containerIntroHome {
    /* background-image: url(/public\images\material-design-grey-po-1336x768.jpg); */
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    background-image: url("C:\Users\lucal\desktop\aulab\laravel\laravel_leanza_we_migrationandmodels\MigrationAndModel\public\images\2175435.jpg");
    background-size: cover;

}

.containerTitoloHome {
    background-color: rgba(255, 255, 255, 0.721);
    height: 40vh;
    width: 600px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    border: solid 3px #6e7491;
    text-align: center;
}

.containerTitoloHome:hover {
    transition: all 0.3s ease-in-out;
    transform: translateY(-10px) rotate(1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

.containerTitoloHome:hover .border {
    transform: translateY(4px) rotate(-5deg);
}

.containerTitoloHome h1 {
    font-size: 3em;
    color: black;
    text-shadow: 2px 2px 4px #00000016;
}


.button-55 {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 30px;
}

.button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
    background-color: #101010;
    color: white;
}

.button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.containerCardIndex {
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-image: url("C:\Users\lucal\desktop\aulab\laravel\laravel_leanza_we_migrationandmodels\MigrationAndModel\public\images\2175435.jpg");
    background-size: cover;
    padding-top: 80px;

}

#cardComponent {
    background-color: rgba(255, 255, 255, 0.721);
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    border-style: solid;
    border-width: 2px;
    color: #41403e;
}

#cardComponent:hover {
    transition: all 0.3s ease-in-out;
    transform: translateY(-5px) rotate(1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

#cardComponent a {
    text-decoration: none;
    color: rgb(10, 10, 136);
    font-weight: bold;
}

#cardComponent a:hover {
    color: #1a3ce9;

}

#dropdown-menu {
    margin-bottom: 20px;
    margin-top: 20px;
}

.form {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url("C:\Users\lucal\desktop\aulab\laravel\laravel_leanza_we_migrationandmodels\MigrationAndModel\public\images\2175435.jpg");
    height: 100vh;
    background-size: cover;
}

.containerForm {
    width: 600px;
    height: 85vh;
    padding: 40px;
    padding-top: 60px;
    background-color: rgba(255, 255, 255, 0.721);
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    border-style: solid;
    border-width: 2px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.containerForm label {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
}

#submit {
    margin-top: 10px;



}

.containerSubmitForm {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
}

#category {
    margin-top: 10px;
    margin-bottom: 20px;
}

.titoliCard {
    font-weight: 700;
}

.titoloPrincipaleCard {
    font-weight: 700;
    font-size: 27px;
    color: black;
    position: relative;
    bottom: 9px;
}

#alertError {
    height: 25px;
    background-color: rgba(255, 0, 0, 0.4);
    display: flex;
    justify-content: start;
    padding: 10px;
    align-items: center;
    border-radius: 7px;
    margin-bottom: 5px;
}

#alertError span {
    color: rgba(62, 9, 9, 0.996);
    font-weight: 700;
    font-size: 12px;
    text-shadow: 2px 2px 4px #0000001d;
}

#alertSuccess {
    height: 40px;
    background-color: rgba(0, 255, 0, 0.261);
    display: flex;
    justify-content: start;
    padding: 10px;
    align-items: center;
    border-radius: 7px;
    margin-bottom: 30px;
    color: rgb(12, 78, 12);
}

.introCategories {
    background-color: #dadada;
    height: 30vh;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    padding-top: 50px;

}

.introCategories button {
    margin-top: 20px;
}

.introCategories h1 {
    font-size: 30px;
    color: black;
    text-shadow: 2px 2px 4px #00000016;
}

#tdButton {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    right: 69px;
}

#tdButton button {
    margin-right: 20px;
}

.containerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    margin: 0px;
}